@model IEnumerable<PatientInfoPortal.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epilepsy)
            </th>
            <th>
                Non-Communicable Diseases
            </th>
            <th>
                Allergies
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Epilepsy)
                </td>
                <td>
                    @foreach (var ncd in item.PatientNCDs)
                    {
                        @Html.DisplayFor(modelItem => ncd.NCD) <br />
                    }
                </td>
                <td>
                    @foreach (var allergy in item.PatientAllergies)
                    {
                        @Html.DisplayFor(modelItem => allergy.Allergy) <br />
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>